.container-div{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
nav-brand{
    display: flex;
    align-items: flex-start;
}
.nav-item{
    align-items: flex-end;
    height: 80px;
    line-height: 80px;
    justify-content: space-between;
    margin-right: 10px;
 }
#button{
    width: 120px;
    margin-right: 5px;
}
.flex-cards{
    height: 100px;
    background-color: white;
    margin-top: 130px;
}
.card-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.cards{
    margin: 10px;
    border-radius: 5%;
}
.card-footer{
    display: flex;
    justify-content: space-between;
}
.own-footer{
    height: 400px;
    width: 100px;
    background-color: papayawhip;
    margin: 20px;
    
    box-shadow: 20%;
    display: block;
    justify-content: center;
    align-items: center;
}
.footer-img{
    height: 200px;
    width: 200px;
    margin-left: 80px;
    color: brown;
    border-radius: 50%;
    box-shadow: 10px;
}
.foot-logo{
    margin-left: 80px;
    color: brown;
    margin-left: 20px;
    width: 50px;
}